<style>
    body {
        background-color: #f2f2f2;
    }

    .container {
        margin-top: 100px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0069d9;
        border-color: #006
    }

    .btn-primary:focus {
        box-shadow: 0 0 0 0.25rem rgba(38, 143, 255, 0.5);
    }

    .btn-primary:active {
        background-color: #0062cc;
        border-color: #005cbf;
    }

    .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.25rem rgba(38, 143, 255, 0.25);
    }

    .text-center {
        margin-top: 20px;
    }

    element.style {}

    .col-md-6 {
        width: 35%
    }
</style>




<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">New User</h1>
            <form action="/admin/addUser" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{user.name}}" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" required>
                    <p style="color: red;">{{errE}}</p>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{user.username}}" required>
                    <p style="color: red">{{errU}}</p>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="d-grid gap-2 mb-3">
                    <button type="submit" class="btn btn-primary" action="/">Add User</button>
                </div>
            </form>
        </div>
    </div>
</div>